{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid" xmlns="http://www.w3.org/1999/html">
    {% for field, errors in oform.errors.items() %}
    <div class="alert alert-error row col-sm-12">
        {{ oform[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <div id="top" class="row col-sm-12">
        <form method="POST" id="formfiltrodata" action="bagagens">
            <div class="form-group">
                <div class="row">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="recinto" id="recinto" value=""/>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="date">Data de emissão do BL</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="portoorigem">Porto de origem</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="date">CPF ou CNPJ do consignatário</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="date">Número do contêiner</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="start" value="{{oform.start.data}}"/>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="end" value="{{oform.end.data}}"/>
                    </div>
                    <div class="col-sm-2">
                        {{oform.portoorigem(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.cpf_cnpj(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.conteiner(class='form-control')}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Etapa da seleção
                    </div>
                    <div class="col-sm-2">
                        Porto de destino
                    </div>
                    <div class="col-sm-2">
                        NCM
                    </div>
                    <div class="col-sm-2">
                        Filtro de imagem
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="checkbox" name="descartados" id="descartados"
                               {% if oform.descartados.data %} checked {% endif %}>Exibir descartados<br>
                        <input type="checkbox" name="selecionados" id="selecionados"
                               {% if oform.selecionados.data %} checked {% endif %}>Exibir selecionados<br>
                        <input type="checkbox" name="semimagem" id="semimagem"
                               {% if oform.semimagem.data %} checked {% endif %}>Exibir sem imagem
                    </div>
                    <div class="col-sm-2">
                        {{oform.portodestino(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.ncm(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.colormap(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        <input class="btn btn-default btn-info form-control" type="submit" value="Filtrar"/>
                    </div>
                    <div class="col-sm-2">
                        <button id="btn_incluir" type="button" class="btn btn-primary form-control"
                                data-toggle="modal" data-target="#importa_csv">Importar DSIs
                        </button>
                    </div>

                </div>
            </div>
            <div class="row col-sm-12">
                Ordenado por Data de Emissão do BL
            </div>
        </form>
    </div>
    <div id="list" class="row col-sm-12">
        <div class="row col-sm-12">
            {{ lista_bagagens | length }} linhas encontradas de um limite de 200.
        </div>
        {% for item in lista_bagagens %}
        <div class="row col-xl-12 bg-white text-primary">
            <div class="col-sm-4">
                <div class="col-sm-12 text-danger">
                    <h2>{{ item.codigoConteiner }}</h2>
                </div>
                <div class="col-sm-12">
                    Peso Declarado: {{ "%d"|format(item.pesoBruto|float) }} Balança: {{
                    "%d"|format(item.pesoBalanca) }}
                </div>
                <div class="col-sm-12"><b>Manifesto:</b>
                    {{ item.manifesto.numero }} Operador: {{ item.manifesto.codigoTerminalDescarregamento}}
                </div>
                <div class="col-sm-12"><b>Ficha n.: </b>
                    {% for ficha in item.fichas %}
                    <a href="https://ajna.labin.rf08.srf/bhadrasana2/ovr?id={{ ficha }}">{{ ficha }}</a>
                    {% endfor %}
                    &nbsp;RVFs: {% for rvf in item.rvfs %}
                    {{rvf.id}} - {% if rvf.datahora %}{{rvf.datahora.strftime("%d/%m/%Y")}}{% endif %}
                    {% endfor %} Fotos: {{ item.qtdefotos }}
                </div>
                <div class="col-sm-12"><b>GMCI:</b>
                    {{ item.gmci.num_gmci }} - {{ item.gmci.datahora }} - {{ item.gmci.nome_recinto }}
                </div>

                <div class="col-sm-12"><b>Conhecimentos:</b></div>
                {% for conhecimento in item.conhecimentos %}
                <div class="col-sm-12">
                    {% if conhecimento.classificacaorisco %}
                    <form method="POST" id="form_classificacao" action="classificaCE">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="numeroCEmercante" value="{{conhecimento.form_classificacao.numeroCEmercante.data}}"/>
                        {{ conhecimento.form_classificacao.classerisco(class='form-control') }}
                        {{ conhecimento.form_classificacao.descricao(class='form-control') }}
                        <input class="btn btn-default btn-info form-control" type="submit" value="Classificar"/>
                    </form>
                    {% endif %}
                    {{ conhecimento.numeroCEmercante }} -
                    {{ conhecimento.dataEmissao }} -
                    {{ conhecimento.portoOrigemCarga }}<br>
                    {{ conhecimento.consignatario }} - {{ conhecimento.nome_consignatario }}<br>
                    {% for dsi in conhecimento.dsis %}
                    DSI: {{ dsi.numero }} - {{ dsi.data_registro }} - {{ dsi.despachante }}<br>
                    {% endfor %}
                </div>
                {% if conhecimento.viagens %}
                {% for viagem in conhecimento.viagens %}
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-11">
                    <div class="col-sm-6">
                        {{ viagem.data_chegada.strftime('%d/%m/%Y %H:%M') }}
                    </div>
                    <div class="col-sm-2">
                        {{ viagem.origem }}
                    </div>
                    <div class="col-sm-2">
                        {{ viagem.destino }}
                    </div>
                    <div class="col-sm-2">
                        {{ viagem.localizador }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                <div class="col-sm-12">
                    <button class="btn btn-danger"
                            onclick="window.open('https://ajna.labin.rf08.srf/bhadrasana2/ovr?numeroCEmercante={{item.numeroCEmercante}}')">
                        Abrir Ficha
                    </button>
                    <button class="btn btn-info"
                            onclick="window.open('files?numero={{item.codigoConteiner}}')">
                        Outras imagens
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <a href="file?_id={{item.id_imagem}}" target="_BLANK">
                    <img src="imagens_cmap?_id={{item.id_imagem}}&colormap={{oform.colormap.data}}"
                         alt="Sem imagem" width="auto" height="auto"
                         class="zoom"
                         onmouseover="showMsg(this, '{{ item.id_imagem}}')" onmouseout="clearMsg(this)"
                    />
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
<div class="modal fade" id="importa_csv" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Importar CSV</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="importa_dsis" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="active_tab" value="{{active_tab}}">
                    <label class="btn btn-default btn-choose" for="planilha">
                        <input id="planilha" name="planilha" type="file" style="display:none"
                               onchange="$('#upload-file-info').html(this.files[0].name)"> Escolha a planilha
                    </label>
                    <big>
                        <span class='label label-success' id="upload-file-info"></span>
                    </big>
                    &nbsp;
                    <input class="btn btn-primary" type="submit" value="Importar CSV"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-lg" id="classificacaorisco" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel2">Registra classificação do CE-Mercante</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="classifica_risco" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="classificacaorisco_numeroCEmercante"></label>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-control">
                                <input type="text" name="classificacaorisco_numeroCEmercante">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label for="classificacaorisco_descricao">Fase</label>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-control">
                                <input type="text" name="classificacaorisco_descricao">
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Classificar"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

</script>
{% endblock %}