{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    {% for field, errors in oform.errors.items() %}
    <div class="alert alert-error row col-sm-12">
        {{ oform[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <div id="top" class="row col-sm-12">
        <form method="POST" id="formfiltrodata" action="bagagens">
            <div class="form-group">
                <div class="row">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="recinto" id="recinto" value=""/>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="date">Data de emissão do BL</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="portoorigem">Porto de origem</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="date">CPF ou CNPJ do consignatário</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="date">Número do contêiner</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="start" value="{{oform.start.data}}"/>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="end" value="{{oform.end.data}}"/>
                    </div>
                    <div class="col-sm-2">
                        {{oform.portoorigem(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.cpf_cnpj(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.conteiner(class='form-control')}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Etapa da seleção
                    </div>
                    <div class="col-sm-2">
                        Filtro de imagem
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="checkbox" name="descartados" id="descartados"
                               {% if oform.descartados.data %} checked {% endif %}>Exibir descartados<br>
                        <input type="checkbox" name="selecionados" id="selecionados"
                               {% if oform.selecionados.data %} checked {% endif %}>Exibir selecionados<br>
                        <input type="checkbox" name="semimagem" id="semimagem"
                               {% if oform.semimagem.data %} checked {% endif %}>Exibir sem imagem
                    </div>
                    <div class="col-sm-2">
                        {{oform.colormap(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        <input class="btn btn-default btn-info form-control" type="submit" value="Filtrar"/>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                Ordenado por Data de Emissão do BL
            </div>
        </form>
    </div>
    <div id="list" class="row col-sm-12">
        <div class="row col-sm-12">
            {{ lista_bagagens | length }} linhas encontradas de um limite de 100.
        </div>
        {% for item in lista_bagagens %}
        <div class="row col-xl-12 bg-white text-primary">
            <div class="col-sm-4">
                <div class="col-sm-12 text-danger">
                    <h2>{{ item.codigoConteiner }}</h2>
                </div>
                <div class="col-sm-12">
                    Peso Declarado: {{ "%d"|format(item.pesoBruto|float) }} Balança: {{
                    "%d"|format(item.pesoBalanca) }}
                </div>
                <div class="col-sm-12"><b>Manifesto:</b>
                    {{ item.manifesto.numero }} Operador: {{ item.manifesto.codigoTerminalDescarregamento}}
                </div>
                <div class="col-sm-12"><b>GMCI:</b>
                    {{ item.gmci.num_gmci }} - {{ item.gmci.datahora }} - {{ item.gmci.nome_recinto }}
                </div>
                <div class="col-sm-12"><b>Conhecimentos:</b></div>
                {% for conhecimento in item.conhecimentos %}
                <div class="col-sm-12">
                    {{ conhecimento.numeroCEmercante }} -
                    {{ conhecimento.dataEmissao }} -
                    {{ conhecimento.portoOrigemCarga }}<br>
                    {{ conhecimento.consignatario }}
                </div>
                {% if conhecimento.viagens %}
                {% for viagem in conhecimento.viagens %}
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-11">
                    <div class="col-sm-6">
                        {{ viagem.data_chegada.strftime('%d/%m/%Y %H:%M') }}
                    </div>
                    <div class="col-sm-2">
                        {{ viagem.origem }}
                    </div>
                    <div class="col-sm-2">
                        {{ viagem.destino }}
                    </div>
                    <div class="col-sm-2">
                        {{ viagem.localizador }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                <div class="col-sm-12">
                    <button class="btn btn-danger"
                            onclick="window.open('https://ajna.labin.rf08.srf/bhadrasana2/ovr?numeroCEmercante={{item.numeroCEmercante}}')">
                        Abrir Ficha
                    </button>
                    <button class="btn btn-success"
                            onclick="window.open('bagagem_descarta?numeroCEmercante={{item.numeroCEmercante}}')">
                        Descartar
                    </button>
                    <button class="btn btn-info"
                            onclick="window.open('files?numero={{item.codigoConteiner}}')">
                        Outras imagens
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <a href="file?_id={{item.id_imagem}}" target="_BLANK">
                    <img src="imagens_cmap?_id={{item.id_imagem}}&colormap={{oform.colormap.data}}"
                         alt="Sem imagem" width="auto" height="auto"
                         class="zoom"
                         onmouseover="showMsg(this, '{{ item.id_imagem}}')" onmouseout="clearMsg(this)"
                    />
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
    <!-- /#main -->
    {% endblock %} {% block scripts %} {{super()}}
    <script type="text/javascript">
    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }






    </script>
    {% endblock %}