{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    {% for field, errors in oform.errors.items() %}
    <div class="alert alert-error row col-sm-12">
        {{ oform[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <div id="top" class="row col-sm-12">
        <form method="POST" id="formfiltrodata" action="bagagens">
            <div class="col-sm-12">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="recinto" id="recinto" value=""/>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="date">Data de emissão do BL</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="portoorigem">Porto de origem</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="date">CPF ou CNPJ do consignatário</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="date">Número do contêiner</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="start" value="{{oform.start.data}}"/>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="end" value="{{oform.end.data}}"/>
                    </div>
                    <div class="col-sm-2">
                        {{oform.portoorigem(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.cpf_cnpj(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.conteiner(class='form-control')}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Etapa da seleção
                    </div>
                    <div class="col-sm-2">
                        Filtro de imagem
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="checkbox">Exibir descartados<br>
                        <input type="checkbox">Exibir selecionados (com ficha)
                    </div>
                    <div class="col-sm-2">
                        {{oform.colormap(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.semimagem(class='form-control')}}  Exibir somente as sem imagem
                    </div>
                    <div class="col-sm-2">
                        <input class="btn btn-default btn-info form-control" type="submit" value="Filtrar"/>
                    </div>
                </div>
            </div>
            <div class="row">
                Filtrar por ????<br>
                Ordenar por ???
            </div>
        </form>
    </div>
</div>
<div id="list" class="row">
    <div class="table table-responsive col-sm-12 row">
        {{ lista_bagagens | length }} linhas encontradas de um limite de 100.
        <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
            <tr>
                {% for key in headers %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            {% for item in lista_bagagens %}
            <tr>
                <td><h2>{{ item.codigoConteiner }}</h2>
                    Peso Declarado: {{ "%d"|format(item.pesoBruto|float) }}
                    Balança: {{ "%d"|format(item.pesoBalanca) }}<br>
                    Manifesto: {{ item.manifesto.numero }} Operador: {{ item.manifesto.codigoTerminalDescarregamento }}<br>
                    GMCI: {{ item.gmci.num_gmci }} - {{ item.gmci.datahora }} - {{ item.gmci.nome_recinto }}<br>
                    {% for conhecimento in item.conhecimentos %}
                    {{ conhecimento.numeroCEmercante }} -
                    {{ conhecimento.get_tipoBL() }} -
                    {{ conhecimento.portoOrigemCarga }} -
                    {{ conhecimento.consignatario }}<br>
                    {% endfor %}
                    <button class="btn btn-danger"
                            onclick="window.open('/bhadrasana2/ovr?numeroCEmercante={{item.numeroCEmercante}}')">
                        Abrir Ficha
                    </button>
                    <button class="btn btn-warning"
                            onclick="window.open('bagagem_descarta?numeroCEmercante={{item.numeroCEmercante}}')">
                        Descartar
                    </button>
                </td>
                <td>
                    <a href="file?_id={{item.id_imagem}}" target="_BLANK">
                        <img src="imagens_cmap?_id={{item.id_imagem}}&colormap={{oform.colormap.data}}"
                             alt="Sem imagem" width="auto" height="auto"
                             class="zoom"
                             onmouseover="showMsg(this, '{{ item.id_imagem}}')" onmouseout="clearMsg(this)"
                        />
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div id="bottom" class="row col-sm-12">
    AJNA - Receita Federal do Brasil 2017
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }




</script> {% endblock %}