{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid" xmlns="http://www.w3.org/1999/html">
    {% for field, errors in oform.errors.items() %}
    <div class="alert alert-error row col-sm-12">
        {{ oform[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <div id="top" class="row col-sm-12">
        <form method="POST" id="formfiltroevento" action="eventos">
            <div class="form-group">
                <div class="row">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="date">Data de ocorrência do evento</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="placa">Placa do veículo</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="numeroConteiner">Número do contêiner</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="cpfMotorista">CPF do Motorista</label>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        {{oform.start(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.end(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.placa(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.numeroConteiner(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.cpfMotorista(class='form-control')}}
                        <label> Filtrar cadastrados: {{oform.motoristas_de_risco_select(class='form-control')}} </label>

                    </div>
                    <div class="col-sm-2">
                        <input name="btnfiltrar" class="btn btn-default btn-info form-control"
                               type="submit" value="Filtrar"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="codigoRecinto">Recinto</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="tempo_permanencia">Permanência</label>
                    </div>
                    <div class="col-sm-2">
                        <label for="missao">Missão</label>
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        {{oform.codigoRecinto(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.tempo_permanencia(class='form-control')}}
                    </div>
                    <div class="col-sm-2">
                        {{oform.missao(class='form-control')}}
                    </div>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                    <div class="col-sm-2">
                        <input name="planilha" id="planilha" class="btn btn-default btn-info form-control"
                               type="submit" value="Planilha"/>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                Ordenado por Data de Ocorrência.
            </div>
        </form>
    </div>
    <div class="row col-sm-12">
        Exibindo {{ lista_eventos | length }} eventos (limite máximo de ???).<br>
        {% for k, v in count_missao.items() %}
        {{k}}: {{v}}<br>
        {% endfor %}
    </div>
    <div id="list" class="row col-sm-12">
        {% for evento in lista_eventos %}
        <div class="row col-xl-12 bg-white text-primary">
            <div class="col-sm-4">
                <h4>{{ evento.recinto }}</h4>
                {% set motorista = evento["motorista"] %}
                {% if motorista %}
                <h5>Risco Motorista: "{{ motorista.get_risco() }}"</h5>
                {% endif %}
                <h5>Missão: "{{ evento["missao"] }}"</h5>
                {% set conhecimento = evento["conhecimento"] %}
                {% if conhecimento %}
                {{ conhecimento.descricao }}
                {% endif %}
                {% set due = evento["due"] %}
                {% if due %}
                DUE: <a href="/bhadrasana2/consulta_due?numero={{ due.numero_due }}" target="_blank">
                {{ due.numero_due }}</a> <br>
                País Importador: {{ due.nome_pais_importador }} Canal: 'Não implementado' Data Registro:
                {{ due.data_registro_due }}
                <br>
                Exportador: {{ due.ni_declarante }} - 'Implementar nome declarante'
                <br>
                Recinto despacho: {{ due.codigo_recinto_despacho }} 'Implementar recintoAduaneiroDespacho.nome'
                {% endif %}
                {% set entrada = evento["entrada"] %}
                {% if entrada %}
                <h4>Entrada {{entrada.dataHoraOcorrencia.strftime('%d/%m/%Y %H:%M')}}</h4>
                Placa {{ entrada.placa }}
                <br>
                Motorista {{ entrada.cpfMotorista }} - {{ entrada.nomeMotorista }}
                <br>
                {{ entrada.numeroConteiner }}
                {% if entrada.numeroDeclaracao %}
                - {{ entrada.tipoDeclaracao }} - {{ entrada.numeroDeclaracao }}
                {% endif %}
                {% if entrada.numeroConhecimento %}
                - {{ entrada.tipoConhecimento }} - {{ entrada.numeroConhecimento }}
                {% endif %}
                {% if entrada.listaNfe %}
                <br>
                Notas fiscais: {{ entrada.listaNfe }}
                {% endif %}
                {% endif %}
                {% set pesagem = evento["pesagem"] %}
                {% if pesagem %}
                <h4>Pesagem {{pesagem.dataHoraOcorrencia.strftime('%d/%m/%Y %H:%M')}}</h4>
                Peso balança:{{pesagem.pesoBrutoBalanca}}
                Tara:{{ pesagem.taraSemirreboque }}
                Peso declarado:{{pesagem.pesoBrutoManifesto}}
                {% endif %}
                {% set inspecaonaoinvasiva = evento["inspecaonaoinvasiva"] %}
                {% if inspecaonaoinvasiva %}
                <h4>Escaneamento</h4>
                {{ inspecaonaoinvasiva.dataHoraOcorrencia.strftime('%d/%m/%Y %H:%M') }}
                {% endif %}
                {% set saida = evento["saida"] %}
                {% if saida %}
                <h4>Saída {{ saida.dataHoraOcorrencia.strftime('%d/%m/%Y %H:%M') }}</h4>
                Motorista {{ saida.cpfMotorista }} - {{ saida.nomeMotorista }}
                <br>
                {{ saida.numeroConteiner }}
                {% if saida.numeroDeclaracao %}
                - {{ saida.tipoDeclaracao }} - {{ saida.numeroDeclaracao }}
                {% endif %}
                {% if saida.numeroConhecimento %}
                - {{ saida.tipoConhecimento }} - {{ saida.numeroConhecimento }}
                {% endif %}

                {% if saida.listaNfe %}
                <br>
                Notas Fiscais: {{ saida.listaNfe }}
                {% endif %}
                {% endif %}
                {% if lista_embarquedesembarque %}
                Embarques e Desembarques em Navios:
                {% for embarquedesembarque in lista_embarquedesembarque %}
                {{ embarquedesembarque.dataHoraOcorrencia }} -
                {{ embarquedesembarque.embarqueDesembarque }} -
                {{ embarquedesembarque.codigoRecinto }} -
                {{ embarquedesembarque.escala }} -
                {{ embarquedesembarque.viagem }}
                {% endfor %}
                {% endif %}
                <h5>Tempo de permanência no Recinto: {{ evento.permanencia }}</h5>
                <form method="POST" id="form_nova_ficha" action="/bhadrasana2/ovr" target="_blank">
                    <input type="hidden" name="tipooperacao" value="2"/>
                    <input type="hidden" name="recinto_id" value="{{evento.recinto_id}}"/>
                    {% if motorista %}
                    <input type="hidden" name="observacoes" value="{{motorista.get_risco()}}"/>
                    {% endif %}
                    {% if conhecimento %}
                    <input type="hidden" name="numeroCEmercante" value="{{conhecimento.id}}"/>
                    {% endif %}
                    {% if entrada %}
                    {% if entrada.numeroDeclaracao %}
                    <input type="hidden" name="numero" value="{{entrada.numeroDeclaracao}}"/>
                    {% endif %}
                    {% endif %}
                    <button class="btn btn-danger" type="submit">
                        Abrir Ficha
                    </button>
                </form>
            </div>
            <div class="col-sm-8">
                <a href="file?_id={{evento.id_imagem}}" target="_BLANK">
                    <img src="imagens_cmap?_id={{evento.id_imagem}}"
                         alt="Sem imagem" width="auto" height="auto"
                         class="zoom"
                         onmouseover="showMsg(this, '{{ evento.id_imagem}}')" onmouseout="clearMsg(this)"
                    />
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="bottom" class="row col-sm-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>


<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
    $('th').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

    function showMsg(img,_id) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    img.title = this.responseText;
                }
            }
        }
        xhttp.open("GET", "/virasana/summary/" + _id, true);
        xhttp.send();
    }
    function clearMsg(img) {
        img.title = "";
    }


</script>
{% endblock %}