{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <form method="POST" action="stats">
        <div class="col-sm-12">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" / >
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="start">Escolha o período a ser analisado</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="start" id="start" value="" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="end" value="" />
                </div>
                <div class="col-sm-6">
                    <input class="btn btn-default btn-info" type="submit" value="Filtrar" />
                </div>
            </div>
        </div>
    </form>


    {% if arquivos %}
    <div id="list" class="row col-xl-12">
        {% for myfile in arquivos %}
        <div class="row col-sm-12 bg-white text-primary" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                {% if myfile.metadata.predictions.vazio %}
                    <font color="red">
                {% endif %}
                Contêiner nº <b>{{ myfile.metadata.numeroinformado }}</b><br>
                Escaneado em <b>{{ myfile.metadata.dataescaneamento.strftime('%d/%m/%Y %H:%M') }}</b><br>
                {% if myfile.metadata.predictions.vazio %}
                    </font>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <a href="file?_id={{ myfile._id }}" target="_BLANK">
                    <img src="imagens_cmap?_id={{ myfile._id }}&colormap=gray"
                         alt="Sem imagem"
                         class="img-responsive"
                         style="max-height: 200px; max-width: 100%;" />
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info">
        Nenhuma imagem encontrada para os filtros aplicados.
    </div>
    {% endif %}


    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2025
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
        function teste() { }
</script> {% endblock %}